<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title></title>

  </head>
  <body>
    <form action="/example7/" method="post">
      <input type="number" name="temperature"/>
      <button type="submit">submit</button>
    </form>

    {% if response %}
    <p>The temperature is {{temperature}} and that is {{response}}</p>
    {% endif %}
    
  </body>
</html>
