<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Matieralize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="styles.css" type="text/css">

  <title>The Quizening</title>
</head>

<body>

  <div id="app">
    <div class="hero blue-grey darken-1">
      <div class="col s12 m6 dropdown_container">
        <div class="card setup-card" id="options">
          <div class="card-content ">
            <span class="card-title">Quiz Setup</span>
            <div class="">
              <div class="input-field col s12 ddown">
                <select v-model="input_amount">
                  <option value="" disabled selected>Number of Questions</option>
                  <option value="10">10 Questions</option>
                  <option value="15">15 Questions</option>
                  <option value="20">20 Questions</option>
                </select>
              </div>
              <div class="input-field col s12">
                <select v-model="category">
                  <option value="" disabled selected>Category</option>
                  <option value="23">History</option>
                  <option value="18">Computers</option>
                  <option value="20">Mythology</option>
                </select>
              </div>
              <div class="input-field col s12">
                <select v-model="difficulty">
                  <option value="" disabled selected>Dificulty</option>
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
              </div>
              <button v-on:click="startQuiz" class="btn waves-effect waves-light teal darken-2" type="submit" name="action">start
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="results">
      <div class="row">
        <div class="col s12 m5">
          <div class="card-panel blue-grey darken-1">
            <span class="white-text">Correct: {{correct}}</span>
            <span class="white-text">Correct: {{incorrect}}</span>
          </div>
        </div>
      </div>
    </div>


    <div class="main_question">
      <div class="card blue-grey darken-1 question_card " v-for="(question,index) in questions">
        <div class="card-content white-text">
          <span class="card-title">{{index+1}}</span>
          <p v-html="question.question"></p>
        </div>
        <div class="collection" v-for="answer in question.answers">
          <a v-on:click="answerChecker(question, answer)" class="collection-item " v-html="answer.text"
            v-bind:class="{ active: answer.isActive && answer.isCorrect, wrong: answer.isActive && !answer.isCorrect}"></a>
          <!-- <div class="response">
            <h5 v-if="answer.isActive && answer.isCorrect">Correct! You smart person you ;) </h5>
          </div> -->


        </div>
      </div>
    </div>
    <script type="text/javascript">

      document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
      });

      function shuffle(a) {
        for (let i = a.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [a[i], a[j]] = [a[j], a[i]];
        }
        return a;
      }

      // End vanilla JS

      let app = new Vue({
        el: '#app',
        data: {
          input_amount: '10',
          category: '23',
          difficulty: 'easy',
          questions: [],
          correct: 0,
          incorrect: 0,
  

         
        },
        methods: {
          startQuiz: function () {
            this.correct = 0
            this.incorrect = 0
            axios({
              method: 'get',
              url: 'https://opentdb.com/api.php',
              params: {
                amount: this.input_amount,
                category: this.category,
                difficulty: this.difficulty
              }
            }).then((response) => {
              let questions = response.data.results
              for (let question of questions) {
                let answers = []

                answers.push({ text: question.correct_answer, isActive: false, isCorrect: true })
                for (let answer of question.incorrect_answers) {
                  answers.push({ text: answer, isActive: false, isCorrect: false })
                }
                shuffle(answers)
                question.answers = answers
                console.log(answers);


              }
              this.questions = questions
            })

          },
          answerChecker: function (question, answer) {
            for (let mainAnswer of question.answers) {

              if (mainAnswer.text == answer.text) {
                mainAnswer.isActive = true
                if (answer.isCorrect) {
                  this.correct++

                }
                else {
                  this.incorrect++
                }
              }
            }

            console.log(this.questions)
            console.log(this.correct)
            
          }
        }
      })

    </script>

</body>

</html>