* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 80%;
  margin-left: 10%;

}

th {
  height: 50px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

td{
    text-align: center;
}


