.main-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-main{
    width: 500px;
    height: 600px;
    text-align: center;
    padding: 20px;
}
.card-main li button{
    margin: 10px;


}
.card-main li {
    display: flex;
    align-items: center;
}