{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'catapi/style.css' %}"/>
  </head>
  <body>
    <main>
      <header>
        {% if cat_image %}
        <a href="{% url 'catapi:favorite' cat_image.id %}"><i class="material-icons medium">{% if cat_image.favorite %}favorite{% else %}favorite_border{% endif %}</i></a>
        {% endif %}
        <h1>{% block title %}{% endblock %}</h1>
        <a href="{% url 'catapi:index' %}"><i class="material-icons medium">refresh</i></a>
      </header>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>