.headline {
  font-size: 32px;
  text-decoration: none;
  text-align: center;
  color: #c48d16;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 270px;
}
.image{
  display: flex;
  justify-content: space-between;
}

body{
  background: url("https://www.drummerworld.com/drummerworld2/neilpeart550jki.jpg") no-repeat center center fixed;
  background-size: contain;
  background-color: #182336;
}

.info{
  color: #c48d16;
  width: 270px;
}
