{% load static %}
<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'todoapp/index.css' %}" type="text/css"/>
  </head>
  <body>
    <h1> {{title}} </h1>

    <form action="{% url 'todoapp:savetodo' %}" method="post">
      {% csrf_token %}
      <input type="text" name="todo_text"/>
      <button type="submit">Submit</button>
      </form>



    <ul>
      {% for todo_item in todo_items %}
      <li> {{todo_item.text}}</li>
      {% endfor %}
      </ul>
    <a href='about/'>About</a>
  </body>
</html>
