<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Doin It</title>
        <link rel="stylesheet" href="static/styles/styles.css" type="text/css">
    </head>
    <body>
        <h1>To Do</h1>
        <form action="/" method="post">
            <div class="add">
                <input type="text" name="add_text" placeholder="Task" required>
                <input type="text" name="add_priority" placeholder="Priority level" required>
                <button type="submit">Add</button>
            </div>
        </form>
        <table>
            <tr>
                <th>To Do</th>
                <th>Priority</th>
            </tr>
            {%for todos in data%}
            <tr>
                <td>{{todos['text']}}</td>
                <td>{{todos['priority']}}</td>
            </tr>
            {%endfor%}
        </table>
    </body>
</html>

