<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Doin It</title>
        <link rel="stylesheet" href="static/styles/styles.css" type="text/css">
    </head>
    <body>
        <table>
            <tr>
                <th>Do These Things</th>
                <th>This Intensely</th>
            </tr>
            {%for todos in data%}
            <tr>
                <td>{{todos['text']}}</td>
                <td class="{{todos['intensity']}}">{{todos['intensity']}}</td>
            </tr>
            {%endfor%}
        </table>
        <div class="add_header"><h3>Oh, you want more?</h3></div>
        <div class="add">
            <form action="/" method="post">
                <input type="text" name="add_text" placeholder="Task" required>
                <input type="text" name="add_intensity" placeholder="Intensity level" required>
                <button type="submit">Add</button>
            </form>
        </div>
    </body>
</html>

