<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoApp</title>
    {% load static%}
    <link rel="stylesheet" href="{%static 'todoapp/styles.css'%}" type='text/css'>
</head>
<body>
    <h1>{{title}}</h1>

    <form action="% url 'todoapp:savetodo' %" method="POST">
        {% csrf_token%}
        <input type="text" name="todo_text">
        <button type="submit">submit</button>
    </form>
    <ul>
        {% for todo_item in todo_items%}
        <li>
            {{todo_item.text}}
        </li>
        {%endfor%}
    </ul>
</body>
</html>