
{% extends 'urlshort/base.html' %}

{% block content %}

    <form action="{% url 'urlshort:saveurl' %}" method="POST" class="inputform">
      {% csrf_token %}
      <header>
        <h1 class="white-text">Urls, but shorter</h1>
    </header>

    <div class="input">

      
              
              <div class="input-field">
                  <input placeholder="Site Name" id="site_name" type="text" class="validate" name="site_name">
                  <label for="site_name"></label>
              </div>
    
      
              <div class="input-field col s6">
                  <input placeholder="URL" id="old_url" type="text" class="validate" name="old_url">
                  <label for="old_url"></label>
              </div>
      <button type="submit" class="waves-effect waves-light btn blue-grey darken-1">Shortify</button>
    </div>
    </form>
    
    <div class="bigoldiv">
      <div class="blocker">


      </div>
    {% for url in urls %}

      <div class="card horizontal hoverable blue-grey darken-1">
        <div class="card-stacked">
          <div class="card-content white-text" >
              <h4>{{url.site_name}}</h4>
            <p>Times clicked- {{url.click_count}}</p>
          </div>
          <div class="card-action">
            <a target="_blank" href="{% url 'urlshort:sendit' url.short_url %}">{{url.site_name}}/{{url.short_url}}</a>
          </div>
        </div>
      </div>
    {% endfor %}

    {% endblock %}
</div>
