<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://raw.githack.com/PdxCodeGuild/class_raccoon/master/Code/Matthew/javascript/utilities.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- Tim
        Dylan
        Curt
        Teddy
        Holden
        Alex
        Daniel
        Brandon -->
    <div id="app">
      <div v-if="questions.length<=0">
        <label for="input_amount">Select number of questions:</label>
        <input type="number" v-model="input_amount" id="input_amount"/><br>
        <select v-model="cat_choice">
          <option disabled value="">Select a category</option>
          <option v-for="category in categories" v-bind:value="category[0]" v-html="category[1]"></option>
        </select>
        <select v-model="diff_choice">
          <option disabled value="">Select a difficulty</option>
          <option v-for="difficulty in difficulties" v-bind:value="difficulty[0]">{{ difficulty[1] }}</option>
        </select>
        <button v-on:click="startQuiz">start</button>
      </div>

      <div v-if="questions.length>0 && results.length<=0">
        <!-- {{ questions[question_counter] }}<br> -->
        Question {{ question_counter+ 1}} of {{ questions.length }}:
        <div v-html="questions[question_counter].question"></div>
        <div v-for="(answer, i) in questions[question_counter].all_answers">
          <input type="radio" v-model="user_ans" name="ans_select" v-bind:value="answer" v-bind:id="'radio'+i">
          <label v-html="answer" v-bind:for="'radio'+i"></label>
        </div>
        <button v-if="question_counter>0" v-on:click="goBack">Previous</button>
        <button v-if="question_counter<(questions.length-1) && user_ans" type="submit" v-on:click="subAns">Next</button>
        <button v-if="question_counter==(questions.length-1) && user_ans" type="submit" v-on:click="subQuiz">Submit</button>
        <!-- <div v-for="question in questions" v-html="question"></div> -->
      </div>

      <div v-if="results.length>0">
        <div v-for="(result, i) in results">
          {{i+1}})
          <span v-html="quiz_ans[i][0]"></span>
          <div v-if="!result">
            <span style="color:red; text-decoration:line-through" v-html="quiz_ans[i][1]"></span>
          </div>
          <span  style="color:green" v-html="quiz_ans[i][2]"></span>
        </div>
        <div>
          {{right_counter}} of {{quiz_ans.length}} Correct!

        </div>
      </div>

    </div>

    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        data: {
          input_amount: 3,
          question_counter: 0,
          questions: [],
          user_ans: '',
          quiz_ans: [],
          ans_select: '',
          results: [],
          right_counter: 0,
          cat_choice: '',
          diff_choice: '',
          categories: [["","Any Category"],["9","General Knowledge"],["10","Entertainment: Books"],["11","Entertainment: Film"],["12","Entertainment: Music"],["13","Entertainment: Musicals &amp; Theatres"],["14","Entertainment: Television"],["15","Entertainment: Video Games"],["16","Entertainment: Board Games"],["17","Science &amp; Nature"],["18","Science: Computers"],["19","Science: Mathematics"],["20","Mythology"],["21","Sports"],["22","Geography"],["23","History"],["24","Politics"],["25","Art"],["26","Celebrities"],["27","Animals"],["28","Vehicles"],["29","Entertainment: Comics"],["30","Science: Gadgets"],["31","Entertainment: Japanese Anime &amp; Manga"],["32","Entertainment: Cartoon &amp; Animations"]],
          difficulties: [["","Any Difficulty"],["easy","Easy"],["medium","Medium"],["hard","Hard"]],
        },
        methods: {
          startQuiz: function() {
            axios({
              method: 'get',
              url: 'https://opentdb.com/api.php',
              params: {
                amount: this.input_amount,
                category: this.cat_choice,
                difficulty: this.diff_choice,
                // type: "boolean",
              }
            }).then((response) => {
              this.questions = response.data.results
              // for (question of this.questions) {
              //   console.log(question)
              // }
              for (let i=0; i<this.questions.length; ++i) {
                let question = this.questions[i]
                this.quiz_ans.push([])
                question.all_answers = [question.correct_answer]
                for (let j=0; j<question.incorrect_answers.length; ++j) {
                // for (answer in question.incorrect_answers) {
                  let answer = this.questions[i].incorrect_answers[j]
                  question.all_answers.push(answer)

                }
                shuffle(question.all_answers)
                console.log(this.quiz_ans)
              }
            })
          },
          subAns: function() {
            // if (this.user_ans == this.questions[this.question_counter].correct_answer) {
            // alert('yes')
            // } else {
            // alert('no')
            // // }
            this.quiz_ans[this.question_counter] = [this.questions[this.question_counter].question, this.user_ans, this.questions[this.question_counter].correct_answer]
            this.question_counter++
            this.user_ans = this.quiz_ans[this.question_counter][1]
            console.log(this.quiz_ans)
            // [question, user_ans, correct_answer],[question, user_ans, correct_ans]
          },
          subQuiz: function() {
            this.quiz_ans[this.question_counter] = [this.questions[this.question_counter].question, this.user_ans, this.questions[this.question_counter].correct_answer]
            this.question_counter++
            for (let i=0; i<this.quiz_ans.length; ++i){
              let answer = this.quiz_ans[i]

              this.results.push(answer[1] == answer[2])

              if (answer[1] == answer[2]) {
              this.right_counter++
              }

              // let counter = i+1
              // if (answer[1] == answer[2]) {
              //   alert(counter + ' is correct')
              // } else {
              //   alert(counter + ' incorrect')
              // }
            }
            console.log(this.results)
          },
          goBack: function() {
            this.question_counter--
            this.user_ans = this.quiz_ans[this.question_counter][1]
          },
        }
      })
    </script>
  </body>
</html>
