<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Document</title>

</head>

<body>
    <div class="maindiv">
        <nav class="white">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo cyan-text text-darken-1">LAB01</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="cyan-text text-darken-1" href="/rot/">Rot</a></li>
                    <li class="active cyan lighten-5"><a class="cyan-text text-darken-1" href="/password/">Password</a></li>
                    <li><a class="cyan-text text-darken-1" href="/unit/">Unit Conversion </a></li>
                </ul>
            </div>
        </nav>

        <div class="row form_data">
            <form action="" method="post" class="col12">
                <h3>Password Generator</h3>
                <p>Please enter desired number of characters in each category</p>
                <div class="row"></div>
                    <div class="input-field col s6">
                        <input id="lower_count" type="number" class="validate" name="lower_count" required>
                        <label for="lower_count">Number of lower letters</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="upper_count" type="number" class="validate" name="upper_count" required>
                        <label for="upper_count">Number of upper letters</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="number_count" type="number" class="validate" name="number_count" required>
                        <label for="number_count">Number of numbers</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="spec_count" type="number" class="validate" name="spec_count" required>
                        <label for="spec_count">Number of special characters</label>
                    </div>
                </div>
                <button type="submit" class="btn cyan darken-1">submit</button>
            </form>
            {% if response %}
            <p>Your new password is {{password}}.</p>
            {% endif %}
            {% if response %}
            <p>Your encrypted password is {{enc_pass}}.</p>
            {% endif %}
        </div>
    </div>
</body>

</html>