<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="author" placeholder="author">
        <textarea name="body" placeholder="body" ></textarea>
        <select name="blog_post_type_id" >
            <option value="" disabled selected>Select A Type..</option>
            {%for blog_post_type in blog_post_types%}
            <option value="{{blog_post_type_id}}">{{blod_post_type.name}}</option>
            {%endfor%}
        </select>

    </form>
    <ul>
        {%for blog_post in blog_posts%}
        <li>{{blog_post.title}}-{{blog_post.body}}</li>
        {%endfor%}
    </ul>
    
</body>
</html>