<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>
    <!-- CDN---- -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'Contacts/styles.css' %}">
    

</head>
<body class="has-background-grey-lighter">
    <!-- NAV--- -->
    <div class="body-bg has-background-grey">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="index.html">
         CONTACT APP
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href={{'Contacts:documentation'}}>
              Documentation
            </a>
        </div>
      </div>
    </nav>
     <!-- END NAV----  -->
     <div class="contact_view">
     <div class="boxes">

     <section class="modal-card-body">
        <h1>Enter Your Contact Information</h1>
        <form action="{% url 'Contacts:edit_contact' contact.id %}"class="new-form" method="POST">
            {% csrf_token %}
            <div class="new-form"><input class="input is-rounded" type="text" placeholder="First Name" name="first" value="{{contact.first_name}}"></div>
            <div class="new-form"><input class="input is-rounded" type="text" placeholder="Last Name" name="last" value="{{contact.last_name}}"></div>
            <div class="new-form"><input class="input is-rounded" type="date" placeholder="Birthday" name="birthday" required></div>
            <div class="new-form"><input class="input is-rounded" type="text" placeholder="Phone Number" name="phone" value="{{contact.phone_number}}"></div>
            <button class="button is-success" type="submit">Save changes</button>
        </form>
    </section>
</div>
</div>
        
    <script type="text/javascript" src="{% static 'Contacts/main.js' %}"></script>   
  </div>
</body>
</html>