<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    {% load static %}
    <img src="{% static Contacts/static/images/css.png %}" alt="">
    <img src="{% static Contacts/static/images/index.png %}" alt="">
    <img src="{% static Contacts/static/images/java.png %}" alt="">
    <img src="{% static Contacts/static/images/urls.png %}" alt="">
    <img src="{% static Contacts/static/images/views.png %}" alt="">
</body>
</html>