body{
}

.card_contain{
  top: 0;
  position: relative;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  align-items: center;
  overflow: scroll;
  height: 80vh;
}

.customcard{
  margin-top: 30px;
  width: 90vw;
  align: center;
}

.custom_card_title{
  font-size: 6vh;
}

.custom_card_text{
  font-size: 3vh;
}

.card-body:first-child {
  padding-bottom: 0;
}

.containcheck{
  padding-top: 12px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between !important;
}

.checkstat{
  padding: 0;
  font-size: 4vw;
  /* display:flex; */
  /* justify-content: center !important; */

}

.card-body {
  flex:none;
}

.checkstat:first-child {
  /* flex-basis: 2vh; */
  display:block;
  width:100px !important;
}
/* .checkstat:nth-child(2) {
  flex-grow: 1;
} */

.checkstat a{
  /* display: flex; */
  /* justify-content: center !important; */
}

.fa {
  font-size: 7vh;
  cursor: pointer;
  user-select: none;
  color: dimgray !important;
}

.fa:hover {
  color: darkblue !important;
}