body {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdata2.1freewallpapers.com%2Fdownload%2Fline-shape-texture-blue-gray.jpg&f=1&nofb=1') !important;
}



.contact_view{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    /* max-width: 700px; */
}

.boxes{
    margin-top: 50px !important;
    width: 900px !important;
    background-color: #7887ab !important;
}

.edit-button{
    margin-right: 20px;
    margin-left: 20px;
}
.cont-box{
    /* background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdata2.1freewallpapers.com%2Fdownload%2Fline-shape-texture-blue-gray.jpg&f=1&nofb=1')!important; */
    width: 900px !important;
}
.new-form{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}


