{% extends 'books/base.html' %}

{% block content %}
<div class="content">
    <div>
        <table class="details">
            <tr>
                <th>Author: </th>
                <td>{{author.name}}</td>
            </tr>
            <tr>
                <th>Books: </th>
                <td>
                    {% for book in author.books.all %}
                        <a href="{% url 'books:book_details' book.id %}">{{book}}</a> {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
   
</div>

{% endblock %}