{% extends 'books/base.html' %}

{% block content %}
<div class="content">
    <div>
        <table>   
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Checked Out By</th>
                <th>Checkout Date</th>
            </tr>
            {% for book in all_books %}
                <tr>
                    <td><a href="{% url 'books:book_details' book.id %}">{{book.title | truncatechars:40}}</a></td>
                    <td>
                        {%for author in book.authors.all %}
                            <a href="{% url 'books:author_details' author.name %}">{{author.name}}</a>{% if not forloop.last %}, {% endif %}
                        {%endfor%}
                    </td>
                    <td>
                        {% if not book.checked_out_by == None %}
                            {{book.checked_out_by}}
                        {% else %}
                            <a href="{% url 'books:checkout' book.id %}">Checkout</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if not book.checked_out_by == None %}
                            {{book.checkout_date}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table> 
    </div>


    <div class="pagination">
        <span class="step-links">
            {% if all_books.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ all_books.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ all_books.number }} of {{ all_books.paginator.num_pages }}.
            </span>
    
            {% if all_books.has_next %}
            <a href="?page={{ all_books.next_page_number }}">next</a>
            <a href="?page={{ all_books.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
</div>

{% endblock %}