<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <h1>hello world</h1>
    {%for todos in data%}
    <div class="todo_item">
        <h3>{{todos['text']}}</h3>
        <h4>{{todos['priority']}}</h4>
    </div>
    {%endfor%}

</body>
</html>