body {
    font-family: 'Ubuntu', sans-serif;


}
nav img {
    height: 40px;
    width: 40px;
    border-radius: 100px;
}
.main-contain{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card-cust{
    height: 250px;
    width: 200px;
    text-align: center;
    margin: 20px;
    transition: all .2s ease-in-out;
}
.card-cust:hover{
    transform: scale(1.1);
}
.card-contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height: 100vh;
    width: 75%;
    
}
.card-contain2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height: 100vh;
    width: 50%;

}
.card-contain::-webkit-scrollbar {
  display: none;
}
.card-contain2::-webkit-scrollbar {
  display: none;
}
.maincont{
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.searchbar2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #c9c9c9;
}
.search-inside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin-top: 70px !important;
    padding-bottom: 20px;


}
.search-inside2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
/*    margin-top: 70px !important;*/
    padding-bottom: 20px;
}
.selector-search{
    width: 100px !important;
}

.title{
    padding-top: 40px;
    margin-top: 30px;
}
.btnlgout {
    margin-left: 15px;
}
