{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style type="text/css">
    img {
      max-width:100px;
      max-height:100px;
      border-radius:100px;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  {% if user.image %}
  <img src="{{user.image.url}}" alt="profile"/>
  {% else %}
  <img src="{% static 'usersapp/profile_default.png' %}" alt="profile"/>
  {% endif %}
  {{user.username}}
  <a href="{% url 'usersapp:logout' %}">logout</a>
</body>
</html>





