<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Register</h1>
  {% if message == 'already_taken' %}<span>That username is already taken</span>{% endif %}
  <form action="{% url 'usersapp:register_user' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="text" name="email" placeholder="email"/>
    <input type="file" name="image" placeholder="image" accept="image/*"/>
    <button type="submit">register</button>
  </form>
  <a href="{% url 'usersapp:login' %}">login</a>
</body>
</html>