<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli&display=swap" rel="stylesheet">
    <style type="text/css">
        *{
            padding: 0;
            margin: 0;
            
        }

        .correct+label {
            color: green;
        }

        .incorrect:checked+label {
            color: red;
        }

        header {
            background-color: aquamarine;
            padding: 10px;
            margin-bottom: 15px;
        }

        .radio{
            margin-left: 10px;
            margin-bottom: 10px;
        }

        .radio + label {
            font-family: 'Muli', ;
        }

        .title {
            font-size: 40px;
            font-weight: bold;
            width: 100%;
            text-align: right;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <select v-model="input_category">
                <option value="" disabled selected hidden>Categories</option>
                <option v-for="category in category_name">{{ category }}</option>
            </select>
            <select v-model="input_difficulty">
                <option value="" disabled hidden default>Difficulty</option>
                <option value="easy" selected>easy</option>
                <option value="medium">medium</option>
                <option value="hard">hard</option>
            </select>
            <input type="number" v-model="input_amount" placeholder="# of questions" />
            <button v-on:click="startQuiz">Start</button><span class="title">The Quiz Game</span>
        </header>
        <div class="content">
            <div v-for="(question, i) in questions">
                <span>{{i + 1}}) </span><span v-html="question.question"></span><br>
                <span v-for="(answer, j) in question.answers">
                    <input class="radio" type="radio" v-bind:name="question.question"
                        :class="{correct: question.correct_answer == answer && finished, incorrect: question.correct_answer != answer && finished}"
                        v-bind:id="'radio'+i+'-'+j" v-model="question.selected_answer" v-bind:value="answer"/>
                    <label class="radiolabel" v-bind:for="'radio'+i+'-'+j" v-html="answer"></label>
            
                </span>
            </div>
            <button id="btn_done" v-if="questions.length > 0 && !finished" v-on:click="gradeQuiz">Done</button>
            <p v-if="finished">Score: {{score}} / {{questions.length}}  </p>
        </div>
    </div>

    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                input_amount: "4",
                input_category: "Musicals",
                input_difficulty: "easy",
                finished: false,
                questions: [],
                score: 0, 
                //   holden sliced the correct answer into the incorrect answer array. 
                // answers: [],
                category_name: ["Animals", "Comics", "Music", "Musicals"],
                categories: { Animals: 27, Comics: 29, Music: 12, Musicals: 13 },
            },
            methods: {
                startQuiz: function () {
                    this.finished = false
                    this.score = 0
                    axios({
                        method: 'get',
                        url: 'https://opentdb.com/api.php',
                        params: {
                            amount: this.input_amount,
                            category: this.categories[this.input_category],
                            difficulty: this.input_difficulty,
                        }
                    }).then((response) => {
                        let questions = []
                        let api_questions = response.data.results
                        for (let i = 0; i < api_questions.length; ++i) {
                            let api_question = api_questions[i]
                            questions.push({
                                question: api_question.question,
                                correct_answer: api_question.correct_answer,
                                selected_answer: '',
                                answers: [api_question.correct_answer]
                            })
                            let incorrect_answers = api_question.incorrect_answers

                            incorrect_answers.forEach((answer) => {
                                questions[i].answers.push(answer)
                            })
                            if (questions[i].answers.length > 2) {
                                questions[i].answers.sort(() => Math.random() - 0.5)
                            } else if (questions[i].answers[0] == "False" || questions[i].answers[0] == "True") {
                                questions[i].answers = ["True", "False"]
                            }

                        }
                        this.questions = questions
                    })
                    // let btn_done = document.querySelector("#btn_done")
                    // btn_done.removeAttribute("hidden")
                },
                gradeQuiz: function () {
                    this.finished = true
                    console.log(this.questions)
                    
                    this.questions.forEach((question) => {
                        if (question.selected_answer == question.correct_answer) {
                            this.score += 1
                        }
                    })
                    
                }
            }
        })
    </script>
</body>

</html>