<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Dictionary/Thesaurus Layout</title>
    <!-- import API keys -->
    <script src="./secrets.js" defer></script>
    <!-- import Vue framework -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- import Axios client for data pull from API -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- import Pure CSS framework -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!-- import custom stylesheet -->
    <link rel="stylesheet" href="lab6_layout.css">
  </head>

  <body>
    <div id="app" class="pure-g">
      <!-- create sidebar display -->
      <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
          <h1 class="brand-title">Just Words</h1>
          <h2 class="brand-tagline">A clean Merriam-Webster Dictionary / Thesaurus Interface</h2>
          <!-- create search box -->
          <div class="sidebar-box">
            <!-- text input accepts enter key to submit form -->
            <input type="text" placeholder="Look up a word" v-model="user_word" v-on:keypress.enter="queryMWeb" class="sidebar-input">
            <!-- div aligns drop-down and submit buttons in same row -->
            <div class="sidebar-query">
              <select v-model="resource_choice" class="sidebar-input">
                <option value="dictionary" class="sidebar-input">Dictionary</option>
                <option value="thesaurus" class="sidebar-inputb">Thesaurus</option>
              </select>
              <button v-on:click="queryMWeb" class="pure-button">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- main view for displaying results -->
      <div class="content pure-u-1 pure-u-md-3-4">
        <!-- displays dictionary results if results exist -->
        <div v-if="resource_choice=='dictionary' && dict_results.length>0">
            <!-- displays if API returns results for the chosen word -->
            <div v-if="dict_results[0].shortdef">
              <h1>{{submitted_word}}</h1>
              <div v-for="result in dict_results">
                <div><h2>
                  <!-- displays syllabic breakdown of word -->
                  <span>{{result.hwi.hw}}</span>
                  <!-- displays word pronunciation guide, if it exists -->
                  <span v-if="result.hwi.prs"> | {{result.hwi.prs[0].mw}}</span>
                </h2></div>
                <!-- displays word class -->
                <div style="fontStyle:italic;"><h3>{{ result.fl }}</h3></div>
                <!-- displays list of definitions -->
                <h3><ul v-for="short in result.shortdef">
                  <li>{{ short }}</li>
                </ul></h3>
              </div>
            </div>
            <!-- displays if API instead returns a list of similar words -->
            <div v-else>
              <h1>No dictionary entry for {{submitted_word}}</h1>
              <h2>Similar words:</h2>
              <!-- displays list of links to similar words -->
              <h3><ul>
                <div v-for="result in dict_results">
                    <a v-on:click="user_word = result; queryMWeb()"><li>{{result}}</li></a>
                </div>
              </ul></h3>
            </div>
          </div>
        <!-- displays thesaurus results if results exist -->
        <div v-if="resource_choice=='thesaurus' && thes_results.length>0">
            <!-- displays if API returns results for the chosen word -->
            <div v-if="thes_results[0].shortdef">
              <h1>{{submitted_word}}</h1>
              <div v-for="result in thes_results">
                  <!-- displays root word for synonym results -->
                  <div style="fontStyle:italic;"><h3>{{ result.fl }}</h3></div>
                  <ol>
                    <div v-for="(short, index) in result.shortdef">
                      <!-- displays definition associated with synonyms -->
                      <li><h3>{{ short }}</h3></li>
                      <ul>
                        <li>
                          <!-- displays comma-separated list of synonyms -->
                          <h3><span v-for="(word, index2) in result.meta.syns[index]">{{ word }}<span v-if="index2 < (result.meta.syns[index].length-1)">, </span></span></h3>
                        </li>
                      </ul>
                    </div>
                  </ol>
              </div>
            </div>
            <!-- displays if API instead returns a list of similar words -->
            <div v-else>
              <h1>No thesaurus entry for {{submitted_word}}</h1>
              <h2>Similar words:</h2>
              <!-- displays list of links to similar words -->
              <h3><ul>
                <div v-for="result in thes_results">
                  <a v-on:click="user_word = result; queryMWeb()"><li>{{result}}</li></a>
                </div>
              </h3><ul>
            </div>
          </div>
        <!-- displays if selected resource (dictionary or thesaurus) returns no results after submission -->
        <div v-if="submitted && ((resource_choice=='dictionary' && dict_results.length==0) || (resource_choice=='thesaurus' && thes_results.length==0))">
          <h1>No such entry!</h1>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      let app = new Vue({
        el: '#app',
        data: {
          user_word: '', // user's text entry, updates as user types in input field
          submitted_word: '', // stores user_word upon submission, so text doesn't get replaced when user updates user_word in the input field
          submitted: false, // keeps main view blank until user submits an input
          resource_choice: 'dictionary',
          dict_results: {}, // object for storing dictionary API results
          thes_results: {}, // object for storing thesaurus API results
          json_url : '', // temporary value for concactinating JSON url for dictionary and thesaurus APIs
        },
        methods: {
            queryMWeb: function() {
              console.log(this.resource_choice)
              if (this.user_word) { //prevents running if user submits a blank string
                this.submitted_word = this.user_word
                this.submitted = true
                this.json_url = 'https://www.dictionaryapi.com/api/v3/references/collegiate/json/' + this.user_word
                this.dictQuery()
                this.json_url = 'https://www.dictionaryapi.com/api/v3/references/thesaurus/json/' + this.user_word
                this.thesQuery()
              }
            },
            dictQuery: function() {
              console.log(this.json_url)
              axios({
                method: 'get',
                url: this.json_url,
                params: {
                  key: dict_key,
                }
              }).then((response) => {
                this.dict_results = response.data
              })
            },
            thesQuery: function() {
              axios({
                method: 'get',
                url: this.json_url,
                params: {
                  key: thes_key,
                }
              }).then((response) => {
                this.thes_results = response.data
              })
            },
        }
      })
    </script>
  </body>
</html>
