main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.container {
    height: 800px;
    width:800px;
    border: 1px solid black;
    text-align: center;

}
