
/* magic 8 ball------- */
h1 { font-weight: 100; font-size: 2.5em;}
    
.content { 
 width: 600px; 
 margin: 0 auto; 
 margin-top: 50px; 
 border: 1px solid red;       
 text-align: center; 
 font-family: 'Helvetica Neue', arial; 
 font-weight: 100;
}

.eight-ball {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;

}

.answer {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
  transition: ease 2s;
}

#eight {
  font-size: 5em;
  margin: 20% auto;
  color: white;
}

#answer {
  padding: 23px;
  color: red;
  letter-spacing: 2px;
  font-size:18px;
  
  transform: rotateY(360deg);
}

#question {
  margin: 20px;
  padding: 10px;
  width: 400px;
  font-size:22px;
}

.header {
  font-size: 22px;
}
.answer-shake {
    transition: all 0.5s ease-in-out;
    transform: rotateY(360deg);



}
/* end magic 8 ball--- */
/* rps-- */
.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}