<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Vue/Axios -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {#    StaticFiles#}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <script src="{% static 'blog/script.js' %}" defer></script>


</head>
<body>
    <div class="main" id="app">
        <div class="hero">
            <div class="nav">
                <div class="logo">
                    <img src="https://cdn2.iconfinder.com/data/icons/social-media-black-white-1/1024/bw-4-512.png" alt="" height="80px" width="80px">
                </div>
                <div class="navbar">
                    <ul>
                        <li>Posts</li>
                        <li>login</li>
                    </ul>
                </div>
            </div>

            <div class="container-small">
                <button>Create New</button>
                <button>View Posts</button>
            </div>
        </div>
        <div class="content">
        <div class="blogcard" v-for = 'post in blog_posts'>
            <h2>[[post.title]]</h2>
            <p>[[post.content]]</p>
            <p>Date Created: [[post.date]]</p>
        </div>
    </div>



    </div>



    {#    vue app ---#}
    <script >
        let app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          blog_posts: [],
          current_view: 'list',
          new_post_title: '',
          new_post_body: ''
        },
        methods: {
          getPosts: function() {
            axios({
              method: 'get',
              url: '{% url 'blog:posts' %}',

            }).then(response => {
                this.blog_posts = response.data.blog_posts

            })
          },
        },
            created: function () {
                this.getPosts()
            },
      })
    </script>
</body>
</html>