

.col-sm-1 {
	width:calc((1/12)*100%);
}
.col-sm-2 {
	width:calc((2/12)*100%);
}
.col-sm-3 {
	width:25%;
}
.col-sm-4 {
	width:calc((4/12)*100%);
}
.col-sm-5 {
	width:calc((5/12)*100%);
}
.col-sm-6 {
	width:50%;
}
.col-sm-7 {
	width:calc((7/12)*100%);
}
.col-sm-8 {
	width:calc((8/12)*100%);
}
.col-sm-9 {
	width:75%;
}
.col-sm-10 {
	width:calc((10/12)*100%);
}
.col-sm-11 {
	width:calc((11/12)*100%);
}
.col-sm-12 {
	width:100%;
}

@media (min-width:500px) {

	.col-md-1 {
		width:calc((1/12)*100%);
	}
	.col-md-2 {
		width:calc((2/12)*100%);
	}
	.col-md-3 {
		width:25%;
	}
	.col-md-4 {
		width:calc((4/12)*100%);
	}
	.col-md-5 {
		width:calc((5/12)*100%);
	}
	.col-md-6 {
		width:50%;
	}
	.col-md-7 {
		width:calc((7/12)*100%);
	}
	.col-md-8 {
		width:calc((8/12)*100%);
	}
	.col-md-9 {
		width:75%;
	}
	.col-md-10 {
		width:calc((10/12)*100%);
	}
	.col-md-11 {
		width:calc((11/12)*100%);
	}
	.col-md-12 {
		width:100%;
	}

}




@media (min-width:900px) {

	.col-lg-1 {
		width:calc((1/12)*100%);
	}
	.col-lg-2 {
		width:calc((2/12)*100%);
	}
	.col-lg-3 {
		width:25%;
	}
	.col-lg-4 {
		width:calc((4/12)*100%);
	}
	.col-lg-5 {
		width:calc((5/12)*100%);
	}
	.col-lg-6 {
		width:50%;
	}
	.col-lg-7 {
		width:calc((7/12)*100%);
	}
	.col-lg-8 {
		width:calc((8/12)*100%);
	}
	.col-lg-9 {
		width:75%;
	}
	.col-lg-10 {
		width:calc((10/12)*100%);
	}
	.col-lg-11 {
		width:calc((11/12)*100%);
	}
	.col-lg-12 {
		width:100%;
	}
}
@media (max-width: 750px) {
	h1 {
		font-size: 1.25em;
		padding-bottom: 1em;
	}
	body {
		padding-top: 0;
	}
	header {
		position: static;
	}
	header p {
		display: none;
	}
	header .flex-parent {
		display: block;
	}
	header .flex-child {
		flex: none;
	}
	.container {
		text-align: center;
	}
}
