<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <div v-for="pokemon in info">
      {{pokemon.name}}
    </div>


    {{ info[1] }}

    ----
    pulling pokemon url-data
    <div v-for="name in user_data">
      {{ name.name }}
      ({{ name.id }})
    </div>
  </div>




  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data: {
        info: [],
        user_number: 55,
        user_data: [],
      },
      methods: {
        pokemonInfo: function() {
          axios({
            method: 'get',
            url: `https://pokeapi.co/api/v2/pokemon/${this.user_number}`,
            params: {
              user_number: this.user_number,
            }
          }).then((response) => {
            let user_data = response.data
            this.user_data.push(user_data)
            console.log(this.user_data)
          })
        }
      },
      created: function() {
        axios({
          method: 'get',
          url: `https://pokeapi.co/api/v2/pokemon?limit=151`,
          params: {
          },
        }).then((response) => {
          console.log(response.data)
          this.info = response.data.results
          this.pokemonInfo()
        })
      },
    });
  </script>
</body>

</html>
