<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Miligram CSS -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <!-- fontawesome 4 icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
    <style type="text/css">
      * {
        max-width: : 600px;
        margin: 0 auto;
        padding: 10px;
      }
      .button-small {
        font-size: .8rem;
        height: 2.8rem;
        line-height: 2.8rem;
        padding: 0 1.5rem;
      }
    </style>
  </head>
  <body>


  </body>
  </html>
