<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Javascript Lab 5</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style type="text/css">
            h1 {

            }
            .incorrect:checked + label{
                background-color: red;
            }
            .correct + label{
                background-color: lightgreen;
            }
        </style>
    </head>
    <body>
        <div id="app">
          <h1>Computer Science Quiz</h1>
          <p>Choose number of questions and difficulty level</p>
          <input type="number" v-model="input_amount"/>
          <select v-model="difficulty">
              <option value="easy">easy</option>
              <option value="medium">medium</option>
              <option value="hard">hard</option>
              <option value="">any</option>
          </select>
          <button v-on:click="startQuiz">start</button>
          <div v-for="question in questions">
              <div v-html="question.question"></div>
              <div v-for="answer in question.incorrect_answers">
                  <input type="radio" v-html="answer" :class="{correct:question.correct_answer == answer && finished, incorrect:question.correct_answer != answer && finished}" :value="answer" :id="answer" :name="question.question" v-model="question.userAnswer" :disabled="finished"/>
                  <label :for="answer" v-html="answer"></label>
              </div>
          </div>
          <button v-on:click="endQuiz" v-if="!finished">Done</button>
          <span v-if="finished && first">score: {{ score }}/{{questions.length}}</span>
          <div v-if="first">total: {{points}}/{{total}}</div>
        </div>
        <script type="text/javascript">
            let app = new Vue({
                el: '#app',
                data: {
                    input_amount: 10,
                    questions: [],
                    score: 0,
                    points: 0,
                    total: 0,
                    finished: true,
                    difficulty: "easy",
                    first: false,
                },
                methods: {
                    startQuiz: function() {
                        this.score = 0
                        this.finished = false
                        axios({
                            method: 'get',
                            url: 'https://opentdb.com/api.php',
                            params: {
                                amount: this.input_amount,
                                category: 18,
                                difficulty: this.difficulty,
                            }
                        }).then((response) => {
                            let respArray = response.data.results
                            for (let i=0; i<respArray.length; ++i) {
                                respArray[i].incorrect_answers.splice(Math.floor(Math.random()*respArray[i].incorrect_answers.length + 1), 0, respArray[i].correct_answer)
                                respArray[i].userAnswer = ''
                            }
                            this.questions = respArray
                        })
                    },
                    endQuiz: function() {
                        this.questions.forEach((question, i) => {
                            if (question.userAnswer == question.correct_answer) {
                                this.score++
                                this.points++
                            }
                        })
                        this.finished = true
                        this.first = true
                        this.total += this.questions.length
                    }
                }
            })
        </script>
    </body>
</html>
    </body>
</html>