<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Axios -->
  <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>

<div id="app">
<h1>WEB TODO</h1>

</div>


  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
      },
      methods: {},
    })
  </script>
</body>

</html>
